In [4]:
# defining pd series
import pandas as pd

new_series = pd.Series([1,2,3])

print(new_series)

new_dataframe = pd.DataFrame({
    'Name':['Ujjwal','Ram'],
    'Age': [21,20],
    'Marks': [99,100]
})

new_dataframe

0    1
1    2
2    3
dtype: int64

     Name  Age  Marks
0  Ujjwal   21     99
1     Ram   20    100

In [ ]:
# reading and saving files

student_csv_file = pd.read_csv('Data/student.csv')
# student_csv_file.to_csv('Data/new_student.csv')

student_csv_file.head()
student_csv_file.tail()
student_csv_file.describe()

              id       mark
count  35.000000  29.000000
mean   18.000000  73.827586
std    10.246951  17.056773
min     1.000000  18.000000
25%     9.500000  60.000000
50%    18.000000  78.000000
75%    26.500000  88.000000
max    35.000000  96.000000

In [22]:
from IPython.display import display

print(student_csv_file['name'].head()) # gives output in series
# display(student_csv_file[['name','mark']].head()) # gives output in dataframe. Use list as argu. for multiple columns

# Slicing rows

# display(student_csv_file[:3].head())

# loc and iloc

# display(student_csv_file.loc[3,'name'])
# display(student_csv_file.loc[3,'name':'mark'])
# display(student_csv_file.loc[3,['name','mark']])
display(student_csv_file.iloc[3,[1,2]])

display(student_csv_file.iat[2,1])

0      John Deo
1      Max Ruin
2        Arnold
3    Krish Star
4     John Mike
Name: name, dtype: object

name     Krish Star
class          Four
Name: 3, dtype: object

'Arnold'