# <center><b>Week-3 Python Programming</b></center>
## <center><b>Learning Pandas</b></center>
## <u><center>Author: Ujjwal Karki</center></u>

### Python Module
- A module is a single python file (.py) containing definitions, functions, classes, variables

### Python Package
- Apackage is a collection of Python modules grouped together within a directory, allowing them to be managed as a unit
- Each package must contain an __init__(.py) file, which can be empty

### Python Library
- Grouping of modules and packages

### Pandas (Data Format)
- Series: Provide the data in a series form
- DataFrame: Provides the data in tabular form where it uses Python's dictionary's 'key' as fields and the values of key as values

In [1]:
import pandas as pd
#crate new series
num_series = pd.Series([1,2,3,4])

#print(num_series)

#create new Data Frame
user_data = pd.DataFrame({
    "Name" : ["Ram","Shyam"],
    "Age" : [23,20],
    "Address" : ["Kathmandu", "Lalitpur"] 
})

print(type(user_data))
print(user_data)

<class 'pandas.core.frame.DataFrame'>
    Name  Age    Address
0    Ram   23  Kathmandu
1  Shyam   20   Lalitpur

#### Rading from CSV File

In [6]:
import pandas as pd

# Read data from csv
student_csv_data = pd.read_csv('Data/student.csv') 
student_csv_data.head(10) # Displays the top 5 data from the csv file by default. We can print custom number of data by passing the number as argument
# student_csv_data.tail() # Same as head but for bottom 5 data

   id         name  class  mark  gender
0   1     John Deo   Four    75  female
1   2     Max Ruin  Three    85    male
2   3       Arnold  Three    55    male
3   4   Krish Star   Four    60  female
4   5    John Mike   Four    60  female
5   6    Alex John   Four    55    male
6   7  My John Rob  Fifth    78    male
7   8       Asruid   Five    85    male
8   9      Tes Qry    Six    78    male
9  10     Big John   Four    55  female

#### Reading from Excel file

In [11]:
# Read data from xlsx (Excel) file
student_excel_data = pd.read_excel('Data/student.xlsx')
student_excel_data.head()

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

#### Reading from Json File

In [10]:
stu_json_data = pd.read_json('Data/studentj.json')
stu_json_data.head()

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female